<!doctype html>
<html lang="en-us">
  <head>
    {{{ title }}}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="wrap"><div>{{{ renderedContent }}}</div></div>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"> </script>
  </body>
</html>
